
html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

* {
    cursor: inherit !important; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar { width: 0px; background: transparent; }

@media (hover: hover) {
    .btn:hover, a:hover {
        background-color: inherit !important;
        color: inherit !important;
        border-color: inherit !important;
    }
}

.btn:active, a:active { opacity: 0.7; transform: scale(0.98); }
header { background: #fff; color: #0E904D; text-align: left; }



