/* Home.css */
.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #fbfbfb;
    padding: 5px 0;
    z-index: 1000;
  }
  
  .tab {
    color: #414141;
    text-decoration: none;
    padding: 10px 0;
    margin: 2%;
    text-align: center;
    flex: 1;
  }
  
  .tab:hover {
    /* background-color: #444; */
    color: #4CAF50;
  }
  
  .active {
    background-color: transparent; /* Couleur de l'onglet actif */
    color: #4CAF50;
  }

  .App-header {
    background: #fff;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
